body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #000;
}

main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 40px;
    height: 100vh;
}

.lock {
    width: 200px;
    height: auto;
}

.logo {
    width: 300px;
    display: block;
    margin: 0 auto;
    height: auto;
}

@media (max-width: 600px) {
    .logo {
        width: 200px;
    }
}

.code-input {
    background: transparent;
    border: none;
    outline: none;

    width: 237px;
    height: 40px;

    font-size: 28px;
    letter-spacing: 24px;
    color: white;

    text-align: center;
    padding-left: 15px;

    background-size: 52px 2px;
    background-repeat: no-repeat;
    background-position: bottom left;

    padding-bottom: 10px;
}


@media (max-width: 600px) {
    .lock {
        width: 150px;
    }

    .code-input {
        width: 300px;
        letter-spacing: 18px;
        background-size: 40px 2px;
    }
}